<div id="<%= dom_id bank_subsidiary %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= bank_subsidiary.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bank:</strong>
    <%= bank_subsidiary.bank_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this bank subsidiary", bank_subsidiary, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this bank subsidiary', edit_bank_subsidiary_path(bank_subsidiary), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
